body {
  background-color: #2b2b2b;
  color: #fff;
  min-height: 102vh;
}

.checkbox:hover {
  color: #3298dc;
}

.monospace {
  font-family: 'IBM Plex Mono', monospace;
  letter-spacing: 0.02rem;
}

.grey {
  color: #9c9c9c;
}
