body {
  min-height: 100vh;
}

.checkbox:hover {
  color: #3298dc;
}

.monospace {
  font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
  letter-spacing: 0.02rem;
}

.grey {
  color: #9c9c9c;
}

.w-100 {
  width: 100%;
}

.pg-message-alert {
  transition: 2s ease;
}
