body {
  min-height: 102vh;
}

.checkbox:hover {
  color: #3298dc;
}

.monospace {
  font-family: 'IBM Plex Mono', monospace;
  letter-spacing: 0.02rem;
}

.grey {
  color: #9c9c9c;
}

.w-100 {
  width: 100%;
}
